<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <%=image_tag 'hound', width:'100%', style: 'position:absolute; right: 0; opacity: 0.2; z-index: -1' -%>

      <h3>Links</h3>
      <ul class="nav nav-sidebar ">
        <li><%= link_to 'Back', platform_app_path(@platform, @app) %></li>
      </ul>
    </div>
    <div class="col-sm-5 col-sm-offset-3 col-md-5 col-md-offset-2 main">


    <h1>Edit App</h1>
    <p>
      Branch name must match github exactly
      <br/>
      App name is auto genereated from branch
    </p>

    <%= render 'form', app: @app %>

    </div>
  </div>
</div>
