<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <%=image_tag 'hound', width:'100%', style: 'position:absolute; right: 0' -%>
      </div>
    <div class="col-sm-5 col-sm-offset-3 col-md-5 col-md-offset-2 main">

      <h1 class="page-header">New Convox Application</h1>

      <%= render 'form', app: @app %>
      <%= link_to 'Back', platform_apps_path(@platform) %>
    </div>
  </div>
</div>


